<div class="shadow-lg flex flex-col max-w-3xl p-8 rounded-sm space-y-6 bg-white">
  <div>
    <h4 class="text-gray-800">Wyszukaj dostępne stacje</h4>
  </div>
  <div>
    <form [formGroup]="avaliableHostsForm" class="flex justify-between items-end">
      <div class="flex flex-col space-y-4">
        <label for="from" class="text-sm text-gray-600 font-medium">
          Kiedy  <span class="text-red-600">*</span>
        </label>
        <input formControlName="startDate" type="date" name="from" class="p-2 border-gray-200 border-2 rounded">
      </div>
      <div class="flex flex-col space-y-4">
        <label for="from" class="text-sm text-gray-600 font-medium">
          Od której  <span class="text-red-600">*</span>
        </label>
        <input formControlName="startTime" type="time" name="from" class="p-2 border-gray-200 border-2 rounded">
      </div>
      <div class="flex flex-col space-y-4">
        <label for="reservationTime" class="text-sm text-gray-600 font-medium">
          Czas rezerwacji (min) <span class="text-red-600">*</span>
        </label>
        <input formControlName="reservationTime" type="number" min="15" max="360" step="5" name="reservationTime" class="w-24 p-2 border-gray-200 border-2 rounded">
      </div>
      <div>
        <button class="
        bg-cyan-600
        px-6 py-3
        rounded-md
        text-white
        font-medium
        font-sans"
        (click)="searchAvaliableHosts()">
          Znajdź dostępne
      </button>
      </div>
    </form>
  </div>
</div>
