<app-avaliable-hosts-list (onHostSelected)="showPowerOnModal($event)"></app-avaliable-hosts-list>

<app-modal title="Zarezerwuj stacje" *ngIf="displayModal" (onClose)="displayModal = false">
  <form [formGroup]="makeReservationForm" class="flex flex-col space-y-6 justify-between items-start pt-6 pr-20">
    <div class="flex flex-col">
      <label for="hostName" class="text-gray-600 text-md">
        Stacja
      </label>
      <p class="text-gray-800 text-lg">{{hostName?.value}}</p>
    </div>
    <div class="flex flex-col space-y-4">
      <label for="operatingSystem" class="text-gray-600 text-md">
        System operacyjny <span class="text-red-600">*</span>
      </label>
      <select name="operatingSystem" formControlName="osName" class="p-2 border-gray-200 border-2 rounded bg-white">
        <option *ngFor="let os of operatingSystemsDictionary" [value]="os" class="bg-white">{{os}}</option>
      </select>
    </div>
    <div class="flex justify-end">
      <button
      type="button"
      class="
      bg-cyan-600
      px-4 py-2
      rounded-md
      text-white
      font-medium
      font-sans
      disabled:bg-gray-400"
      [disabled]="isOsSelected()"
      (click)="powerOnHost()">
        Włącz
    </button>
    </div>
  </form>
</app-modal>

<app-progress-spinner [isLoading]="isLoading"></app-progress-spinner>
